<div class="mydeals-container records-wrapper">
  <h1 id="mydeals-header">Echanges</h1>
  <div class="mydeals-content-wrapper">
  <%= render 'mydeals/nav', current_path: requested_mydeals_path %>
    <% if @deals.empty? %>
      <p>Vous n’avez pas de propositions d'échange en attente ;).</p>
    <% else  %>
      <p>Les propositions que vous avez faites à d'autres Diggerz.</p>
      <div class="records-grid">
        <% @deals.each do |deal| %>
          <%= link_to mydeal_path(deal, mydeals_return_url: requested_mydeals_url), class: 'records-content-wrapper' do %>
            <%= render 'mydeals/components/cards/base', deal: deal, record: deal.receiver_record do %>
              <%= render 'mydeals/components/cards/user_exchanged_with/requester', deal: deal %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
