<%= render 'mydeals/components/show/with_user_context/explanation_message', user: record.user do %>
  <span>Vous avez annulé cet échange auprès de <%= record.user.username.capitalize %></span>
<% end %>

<%= render 'mydeals/components/show/record', record: record %>
