<div class="container-profile-page">

  <div class="profile-card">
    <div class='profile-card-avatar'>
      <img src="<%= current_user_avatar_path %>" alt="" class="avatar-large">
    </div>
    <div class='profile-card-infos'><%= @user.location %></div>
    <div class='profile-card-infos'> <%= @user.email %> </div>

    <%= link_to  edit_profile_path, method: :get do %>
      Editer mon profil
    <% end %>
  </div>


