<div class="deal-requester-img">
  <span><%= record.user.username %> vous a proposé ce deal</span>
  <img src="<%= user_avatar_path(record.user) %>">
</div>

<%= render 'mydeals/components/show/record', record: record %>
