// Define variables for your color scheme
// For example:
$red: #DF6868;
$green: #28a745;
$orange: #ffc107;
$blue: #167FFB;
$yellow: #F3B61F; // rgb(243,181,31)
$gray: #656363;
$light-gray: #8D8B8B;
$manatee: #A09ABC; // rgb(160,154,188)
$dark-slate-gray: #2C5448; // rgb(44,84,72)
$white: #FFFF;
// Figma customs
$rich-black: #0D1321;
$white-stripes: #f8f3f3;
$deep-green-3: #688F3D;
$tech-house-gray-7: #8D8B8B;
$yellow-300: #FAF089;
$yellow-400: #F6E05E;
$yellow-900: #744210;