// Define variables for your color scheme
// For example:
$red: #DF6868;
$green: #28a745;
$orange: #ffc107;
$blue: #167FFB;
$yellow: #F3B61F; // rgb(243,181,31)
$gray: #656363;
$light-gray: #8D8B8B;
$manatee: #A09ABC; // rgb(160,154,188)
$dark-slate-gray: #2C5448; // rgb(44,84,72)
$white: #FFFF;
// Figma customs
$rich-black: #0D1321;
$rich-black800: #3A5492;
$rich-black600: #7890CA;
$rich-black500: #B2C0E1;
$rich-black300: #CFD8EC;
$rich-black200: #E2E7F3;

$white-stripes: #F8F9FC;
$deep-green-3: #688F3D;
$tech-house-gray-7: #8D8B8B;

$yellow-300: #FAF089;
$yellow-400: #F6E05E;
$yellow-900: #744210;

$grey-200: #e5e9f0;
$grey-300: #b8bac2;
$grey-500: #6b6f87;
$grey-600: #5c607b;
$grey-700: #5d5e69;