.deal-maker-container {
  display: flex;
  flex-direction: column;
/*   justify-content: space-between; */

}

.deal-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 1em 0 1em;
  
    div:first-child {
      display: flex;
    }

    h2 {
        font-size: $title;
    }
  }

  .deal-requester-img {
      padding: 1em;
      font-size: $small-text;
      display: inline-block;
    > img {
      height: 30px;
      border-radius: 50%;
    }
  }
  

.deal_mycollection {
    width: 100vw;
    height: 100%;
    padding: 1em;

    .img {
      width: 100%;
    }

    h3 {
        margin-bottom: 2em;
    }
    h3, h4, div, p {
        color: white;
    }
}

.deal-record-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.deal-input{
    display:none;
}

.deal-input-show {
    height: 45%;
    width: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.show-deal-myrecord-card-container {

    padding: 1em;
}

.show-deal-myrecord-card {
    display: flex;

    img {
        width: 25%;
        border-radius: 2px;
    }

    div {
        padding: 1em;
    }
}

.md-show-actions-btn {
    margin:1em;
}


/* CHECK IF OK */

.vd-contact-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    height: 200px;
    box-shadow: $very-close;
  
    img:first-of-type {
      border-radius: 1em;
      height: 8em;
    }
  
    div:last-of-type {
  
    }
  
    .vd-contact-ctas {
      display: flex;
    }
  }
  
  .vd-confirmation-msg {
    margin: 1.5em;
  }
  
  .fa-check-circle {
    color: green;
    margin: 16px;
    ;
  }



// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .deal-desktop-container { 
        width: 100%;
        border-radius: 4px;
        padding-left: 15em;
        background-color: white;
    }

    .deal-maker-container {
      min-height: 100%;
        max-width: 40%;
        margin: auto;
    }

    .vinyl-card-collection {
        max-width: 600px;
    }

    .vinyl-card-details {
        width: 100%;
        background-size: contain;
    }
}
