.deal-collection-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6%;
  }
  
  .deal-collection-title h3 {
    color: white;
  }
  
  .deal-myrecord {
    width: 80%;
    height: 8%;
    margin: 2% 0 2% 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }
  
  .deal-myrecord:hover {
    background-color: gray;
  }
  
  .deal-myrecord-image {
    width: 25%;
    display: flex;
    justify-content: center;
  }
  
  .deal-myrecord-infos {
    display: inline;
    width:75%;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 3%;
  }
  
  .deal-myrecord-infos h4 {
    color: white;
    font-size: 20px;
    margin: 0px;
    text-align: left;
  }
  
  .deal-myrecord-infos p {
    color: white;
    font-size: 14px;
    margin: 0px;
    text-align: left;
  }
  
  .deal-input{
    display:none;
  }
  
  .deal-input-show {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
  }
  
  .deal-input-show form{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .deal-myrecord-swapped {
    width: 70%;
    height: 8%;
    margin: 2% 0 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  

  .deal-myrecord-swapped-infos {
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 3%;
  }
  
  .deal-myrecord-swapped-infos h4 {
    color: white;
    font-size: 20px;
    margin: 0px;
    text-align: right;
  }
  
  .deal-myrecord-swapped-infos p {
    color: white;
    font-size: 14px;
    margin: 0px;
    text-align: right;
  }