
.home_video {
 width: 100%;
 height: 68vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.homepage-banner {
  height: 68vh;
  background-size: cover;
  background-position: center;
  background: rgb(221,221,221);
  background: linear-gradient(180deg, rgba(221,221,221,0.46540623085171573) 0%, rgba(171,171,171,0.5242297602634804) 50%, rgba(33,33,33,0.6810925053615196) 100%);
  display: flex;
  flex-direction: column;
  align-items: start;
}


.hp-presentation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 65px;

}

.logo-homepage > img {
  max-width: 100%;
  max-height: 100px;
  margin: auto auto;
  padding-top: 30px;
}

.logo-homepage > p {
    padding-top: 20px;
    color: white;
    opacity: 0.95;
    font-size: 32px;
  }

.homepage-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  justify-content:
  center;
  margin: auto auto;

  p {

font-size: 25px;
text-align: center;
}
}


.arguments-grid {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  color: white;
  background: rgb(0,0,0);
  background: -webkit-linear-gradient(rgba(0,0,0,0.7875350823923319) 0%, rgba(0,0,0,0.8939776594231442) 60%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(rgba(0,0,0,0.7875350823923319) 0%, rgba(0,0,0,0.8939776594231442) 60%, rgba(0,0,0,1) 100%);
  background: linear-gradient(rgba(0,0,0,0.7875350823923319) 0%, rgba(0,0,0,0.8939776594231442) 60%, rgba(0,0,0,1) 100%);
  h2 {
    padding-bottom: 15px;
  }
}

.reassurance {
  overflow-wrap: break-word;
  padding-top: 40px;
  max-width: 900px;
  margin: auto auto;
  text-align: center;

  h2 {
  font-weight: 600;
  padding: 0 10px;
  }

  p {
  padding: 0 12px;
  }
}

.arguments-albums {
  width: 100%;
  height: 100%;
}

.album-grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 100%;
  margin-top: 50px;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

}

.album {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  img {
  display: block;
  height: 100%;
  width: 100%;

  }

  h2,
  p {
  text-align: center;
}

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.6s ease-in-out;

}

.overlay:hover {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.cards-infos-hp {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;


  h5 {
  padding-top: 10px;
  }

  p {
  color: rgba(255, 255, 255, 0.6);
  }

  a {
    color: $yellow;
    font-weight: 500;
    min-width: 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }
}


.arguments-stats {
  grid-area: arguments-stats;
}


#hp-second-cta {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.hp-stats-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hp-stats-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom: 50px;
  }

  h4 {
    font-size: 29px;
    font-weight: bold;
  }
}

.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

