h2 {
  font-weight: 600;
}

p {

font-size: 18px;
}

h2,
p {
  text-align: center;
}


.home_video {
 width: 100%;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.homepage-banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background: rgb(243,182,31);
  background: linear-gradient(349deg, rgba(243,182,31,0.2945378835127801) 0%, rgba(243,182,31,0.32815132889093135) 41%, rgba(243,182,31,0.571848807882528) 100%);
}

.logo-homepage > img {
  max-width: 100%;
  height: auto;
  margin: auto auto;
}
.homepage-container {
  width: 75%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  justify-content:
  center;
  margin: auto auto;
}


.arguments-grid {
  display: grid;
  grid-template-areas: ". reassurance ."
                       ". arguments-albums ."
                       ". arguments-stats .";

  grid-template-columns:  100px 1fr 100px;
  grid-gap: 25px;
  overflow-wrap: break-word;
  color: white;
  background: rgb(0,0,0);
  background: -webkit-linear-gradient(rgba(0,0,0,0.7875350823923319) 0%, rgba(0,0,0,0.8939776594231442) 60%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(rgba(0,0,0,0.7875350823923319) 0%, rgba(0,0,0,0.8939776594231442) 60%, rgba(0,0,0,1) 100%);
  background: linear-gradient(rgba(0,0,0,0.7875350823923319) 0%, rgba(0,0,0,0.8939776594231442) 60%, rgba(0,0,0,1) 100%);
  h2 {
    padding-bottom: 15px;
  }
}

.reassurance {
  grid-area: reassurance;
  overflow-wrap: break-word;
  padding-top: 50px;
  max-width: 900px;
  margin: auto auto;
}

.arguments-albums {
  grid-area: arguments-albums;
  padding-top: 50px;
}

.album-grid {
  margin-top: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, calc(50% - 40px));
  grid-template-rows: minmax(150px, 1fr);
}

.album {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  img {
  display: block;
  height: 100%;
  width: 100%;

  }

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.6s ease-in-out;

}

.overlay:hover {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.cards-infos-hp {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;


  h5 {
  padding-top: 10px;
  }

  p {
  color: rgba(255, 255, 255, 0.6);
  }

  a {
    color: $yellow;
    font-weight: 500;
    min-width: 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }
}


.arguments-stats {
  grid-area: arguments-stats;
}


#hp-second-cta {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.hp-stats-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hp-stats-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom: 50px;
  }

  h4 {
    font-size: 29px;
    font-weight: bold;
  }
}





@media (max-width: 576px) {
  .arguments-grid {
    grid-template-columns:  1fr;
  }
  .album-grid {
    grid-template-columns:  1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width:  577px) {
  .album-grid {
    grid-template-columns: 1fr 1fr ;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .album-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .album-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
// Small devices (landscape phones, 576px and up)

