.my-deals-submenu {
    padding-top: 70px;
    padding-bottom: 10px;
    color: $gray;
    border: none;
    ul {
        white-space: nowrap;
    }
    li {
        display: flex;
    }
    #deals-tab {
        background: none;
        border: none;
        font-weight: 600;
        font-size: 1, 5em;
        color: $gray;
        padding-left: 0;
        &.active {
            color: blue;
        }
    }
}

.card-list-container {
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 88px;
    margin: 8px;
    img {
        height: 80px;
        border-radius: 8px;
        margin-right: 8px;
    }
    .card-list-infos {}
}