.records-wrapper {
  height: 100%;
}

.results-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em 0 1em;

  h4 {
    margin-left: 1em;
    color: $grey-300;
  }
}

.records-grid-wrapper {
  padding: 1em;
  min-width: 100%;
  height: 100%;
}

.records-grid {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  height: 100%;
}

.records-modals-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 4em;
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .records-wrapper {  
      padding-left: 15em;
  }

  .records-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .discover-vinyl-card {
    right: 0;
    width: 40%;
  }
}
