.vd-header {
    display: flex;
    align-items: center;
    padding: 0.5em 0.5em 1.5em 0.5em;
    >button {
        text-decoration: none;
    }
    .dropdown-content {
        display: none;
    }
    .dropdown:target .dropdown-content {
        display: block;
    }
}

.vd-contact-container {
    display: flex;
    align-items: center;
    img:first-of-type {
        height: 100px;
        border-radius: 50%;
    }
    .vd-contact-ctas {
        display: flex;
    }
}

.vd-confirmation-msg {
    margin: 1.5em;
}

.fa-check-circle {
    color: green;
    margin: 16px;
    ;
}