<div class="deal-header">
  <div class="vinyl-card-details-index-button" id="black-back-arrow-deal">
    <%= link_to mydeals_return_url, class: "" do %><i class="fas fa-long-arrow-alt-left"></i><% end %>
  </div>
  <div>
    <%= yield %>
    <%# <i class="far fa-question-circle fa-lg dropdown"></i> %>
  </div>
</div>
