<div class="deal-header">
  <%= link_to mydeals_return_url do %>
    <i class="fas fa-long-arrow-alt-left"></i>
  <% end %>
  <%= yield %>
  <i class="far fa-question-circle fa-lg dropdown"></i>
</div>
