<div class="homepage-banner">
  <div class="homepage-container">
    <%= image_tag "logo_diggerz_full_white.png"%>
    <p>Hidden gems around you.</p>
    <div class="button-master"> <%= link_to root_path do %>
        <%= image_tag "logo_diggerz_icon_white.png"%>
        S'inscrire avec Discogs
      <% end %>
    </div>
  </div>
</div>

