<div class="homepage-banner">
  <div class="homepage-container">
    <%= image_tag "logo_diggerz_full_white.png"%>
    <p>Hidden gems around you.</p>
    <div class="button-master">
        S'inscrire avec Discogs
    </div>
  </div>
</div>

