<div class="hp-hero">
  <div class="connexion-menu" id="hp-links">
     <%= link_to image_tag("logo_diggerz_full.png", height: 25), root_path %>
    <div class="connexion-menu-links" >
      <%= link_to "Connexion", new_user_session_path %>
    </div>
  </div>
  <div class="hp-header">
    <h1>Troque des vinyles. Gratuitement.</h1>
    <p>Echange sans limites des disques avec les passioné.es de ta ville. <br> Tous les genres, tous les styles.</p>
  </div>
    <% if user_signed_in? %>
      <%= link_to myrecords_path do  %>
        <div class="button-master">
          Mon compte
        </div>
      <% end %>
    <% else %>
      <%= link_to records_path do %>
        <div class="button-master">
          Commencer
        </div>
      <% end  %>
    <% end %>
  </div>
</div>
<!--
<div class="hp-discog-section">
  <div>
    <h2 class="">Syncronisation Discogs</h2>
    <p class="">Importes instantanément ta collection de vinyles enregistrées dans Discogs.</p>
  </div>
</div>


  <section>
    <img  class="" src="https://images.unsplash.com/photo-1599231073504-b4f7b244dab6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
    <div>
      <h2 class="">Big title</h2>
      <div class=""></div>
      <p class=""> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum dolor deleniti dicta sunt! Alias cum modi quasi et repellendus tempora aliquid, rem amet, voluptas ea porro necessitatibus minus nesciunt fuga!</p>
      <div class="button-master">Commencer</div>
    </div>
  </section>

  <section class="home_deal">
    <div>
      <h2 class="home_deal-title">Big title</h2>
      <div class="b-divider"></div>
      <p class="home_deal-prez"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum dolor deleniti dicta sunt! Alias cum modi quasi et repellendus tempora aliquid, rem amet, voluptas ea porro necessitatibus minus nesciunt fuga!</p>
      <div class="button-master">Commencer</div>
    </div>
    <img  class="home_deal-img" src="https://images.unsplash.com/photo-1599231073504-b4f7b244dab6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">

    <div style="opacity: 0; display: none;" class="bf-background-holder">
      <div class="blue"></div>
    </div>
  </section>
</div> -->
 