<div class="md-show-actions-btn flex">
  <%= link_to "Refuser", decline_deal_path(deal), method: :patch, class: "button-secondary", id:"deal-btn" %>
  <%= link_to "Accepter", accept_deal_path(deal), method: :patch, class: "button-master", id:"deal-btn" %>

</div>
