<%= render 'mydeals/components/show/with_user_context/explanation_message', user: record.user do %>
  <span><%= record.user.username %> vous a proposé ce deal</span>
<% end %>

<%= render 'mydeals/components/show/record', record: record %>
