<div class="show-deal-myrecord-card-container"> 
  <p>En échange de votre disque :</p>
  <div class="show-deal-myrecord-card">
    <img src="<%= record_cover(record) %>">
    <div>
      <h5><%= record.release.title %></h5>
      <p><%= record.release.artist %></p>
    </div>
  </div>

</div>

