<div class="connexion-container">
    <div class="connexion-content">

        <div class="connexion-content-wrapper">
            <div class="connexion-menu">
                <div>
                    <%= image_tag "logo_diggerz_icon.png", height: 70 %>
                </div>
                <div class="connexion-menu-links">
                    <div>Connexion</div>
                    <div>Inscription</div>
                </div>
            </div>
            <div class="connexion-form">
                <h1>Connexion</h1>
                <h3>Hey coucou jeune padawan ! Qui es-tu ? </h3>
                <form action="post">
                    <div> 
                        <input type="text" id="email" placeholder="Email">
                    </div>
                    <div> 
                        <input type="text" id="password" placeholder="Mot de passe">
                    </div>
                    <div class="connexion-form-ctas">
                        <div>J'ai zappé mon mot de passe</div>
                        <div class="button-master">Go !</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="connexion-image">
       
    </div>
</div>
