<h1>Deals</h1>
<ul class="nav nav-tabs my-deals-tabs my-deals-submenu" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="deals-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">A valider</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="deals-tab" data-toggle="tab" href="#validated" role="tab" aria-controls="validated" aria-selected="false">En attente</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="deals-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="false">En cours</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="deals-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="false">Terminé</a>
    </li>
</ul>
<div class="mydeals-received-grid">
    <div class="deals-card">
        <div class="md-release" style="background-image: linear-gradient(180deg, rgba(91,91,91,0.8043418050814075) 0%, rgba(69,69,69,0.8463586118040967) 50%, rgba(45,45,45,0.8687675753895308) 100%), url('https://img.discogs.com/UoDAnoi3Cbp_JvOrz4CRgZBBSfg=/fit-in/600x592/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-367084-1263095553.jpeg.jpg')">
            <div class="md-release-infos">
                <h5> RELEASE TITLE</h5>
                <p> ARTIST </p>
            </div>
            <div class="md-requester-infos">
                <div class="far fa-clock"></div>
                <div><p id="md-user-card">Demandé à USERNAME</p></div>
            </div>
        </div>
    </div>
</div>