<h1>Deals</h1>
<ul class="nav nav-tabs my-deals-tabs my-deals-submenu" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="deals-tab" data-toggle="tab" href="#tovalidate" role="tab" aria-controls="tovalidate" aria-selected="true">A valider</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="deals-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="false">En attente</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="deals-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="false">En cours</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="deals-tab" data-toggle="tab" href="#terminated" role="tab" aria-controls="terminated" aria-selected="false">Terminé</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tovalidate" role="tabpanel" aria-labelledby="pending-tab">
        <section class="my-deals-container">
            <div class="card-list-container">
                <img src="https://img.discogs.com/Yzw6YXtFQNw6ijV8Sj10eHSPIKA=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-367084-1263095553.jpeg.jpg" alt="">
                <div class="card-list-infos">
                    <div>{PROPOSED ALBUM TITLE}</div>
                    <div>{ARTIST}</div>
                    <div>Proposé par {REQUESTER} </div>
                </div>
            </div>
            <div class="card-list-container">
                <img src="https://img.discogs.com/Yzw6YXtFQNw6ijV8Sj10eHSPIKA=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-367084-1263095553.jpeg.jpg" alt="">
                <div class="card-list-infos">
                    <div>{PROPOSED ALBUM TITLE}</div>
                    <div>{ARTIST}</div>
                    <div>Proposé par {REQUESTER} </div>
                </div>
            </div>
            <div class="card-list-container">
                <img src="https://img.discogs.com/Yzw6YXtFQNw6ijV8Sj10eHSPIKA=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-367084-1263095553.jpeg.jpg" alt="">
                <div class="card-list-infos">
                    <div>{PROPOSED ALBUM TITLE}</div>
                    <div>{ARTIST}</div>
                    <div>Proposé par {REQUESTER} </div>
                </div>
            </div>
        </section>
    </div>
    <div class="tab-pane fade show" id="pending" role="tabpanel" aria-labelledby="pending-tab">
        <section class="my-deals-container">
            <div class="card-list-container">
                <img src="https://img.discogs.com/raerCXMa8MbRH7ftRn1xX3NUHgY=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-3676112-1343506550-1828.jpeg.jpg" alt="">
                <div class="card-list-infos">
                    <div>{PROPOSED ALBUM TITLE}</div>
                    <div>{ARTIST}</div>
                    <div>Proposé par {REQUESTER} </div>
                </div>
            </div>
            <div class="card-list-container">
                <img src="https://img.discogs.com/raerCXMa8MbRH7ftRn1xX3NUHgY=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-3676112-1343506550-1828.jpeg.jpg" alt="">
                <div class="card-list-infos">
                    <div>{PROPOSED ALBUM TITLE}</div>
                    <div>{ARTIST}</div>
                    <div>Proposé par {REQUESTER} </div>
                </div>
            </div>
            <div class="card-list-container">
                <img src="https://img.discogs.com/raerCXMa8MbRH7ftRn1xX3NUHgY=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-3676112-1343506550-1828.jpeg.jpg" alt="">
                <div class="card-list-infos">
                    <div>{PROPOSED ALBUM TITLE}</div>
                    <div>{ARTIST}</div>
                    <div>Proposé par {REQUESTER} </div>
                </div>
            </div>
        </section>
    </div>
    <div class="tab-pane fade show" id="accepted" role="tabpanel" aria-labelledby="pending-tab">
        <section class="my-deals-container">
            <h3>Oupsy ! Vous n'avez pas d'échange en cours !</h3>
        </section>
    </div>
    <div class="tab-pane fade show" id="terminated" role="tabpanel" aria-labelledby="pending-tab">
        <section class="my-deals-container">
            <div class="card-list-container">
                <img src="https://img.discogs.com/bnb9k0lhqeLXcDYxowMyQeo2bcE=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-3924235-1532275677-6677.jpeg.jpg" alt="">
                <div class="card-list-infos">
                    <div>{PROPOSED ALBUM TITLE}</div>
                    <div>{ARTIST}</div>
                    <div>Proposé par {REQUESTER} </div>
                </div>
            </div>
        </section>
    </div>
</div>