<div class="connexion-container">
    <div class="connexion-content">

        <div class="connexion-content-wrapper">
            <div class="connexion-menu">
                <div>
                    <%= image_tag "logo_diggerz_icon.png", height: 70 %>
                </div>
            </div>
            <div class="connexion-form">
                <div id="connexion-form--registration-header">
                    <h1>Ca arrive !</h1>
                    <h3>Allons récupèrer ton mot de passe !</h3>
        
                </div>
                <form action="post">
                    <div> 
                        <input type="text" id="email" placeholder="Ton adresse email">
                    </div>
                    <div class="connexion-form-ctas">
                        <div class="button-master" id="connexion-cta-btn">Go !</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="connexion-image">
       
    </div>
</div>
