<div class="connexion-container">
    <div class="connexion-content">

        <div class="connexion-content-wrapper">
            <div class="connexion-menu">
                <div>
                    <%= image_tag "logo_diggerz_icon.png", height: 70 %>
                </div>
            </div>
            <div class="connexion-form">
                <div id="connexion-form--registration-header">
                    <h1>Où-es tu, [USERNAME] ?! </h1>
                    <h3>Localises ta collection et commences à échanger des disques près de chez toi ! </h3>
                </div>
                <form action="post">
                    <div> 
                        <input type="text" id="email" placeholder="Ma ville">
                    </div>
                    <p>Tips : indiques le nom de la grande ville la plus proche si tu habites un petit bled paumé.
                        On n’a pas encore la géolocalisation, mais ça va venir <3  </p>
                    <div class="connexion-form-ctas">
                        <div class="button-master" id="connexion-cta-btn">Localiser</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="localisation-image">
       
    </div>
</div>