<div class="connexion-container">
    <div class="connexion-content">

        <div class="connexion-content-wrapper">
            <div class="connexion-menu">
                <div>
                    <%= image_tag "logo_diggerz_icon.png", height: 70 %>
                </div>
                <div class="connexion-menu-links">
                    <div><a href ="#" id="disabled-link">Connexion</a></div>
                    <div><a href ="#" id="disabled-link">Inscription</a></div>
                </div>
            </div>
            <div class="connexion-form">
                <div id="connexion-form--registration-header">
                    <h1>Connexion</h1>
                    <h3>Salut toi, on se connaît non ? </h3>
                    <button class="rounded-lined-btn">Connexion avec Discog</button>
                </div>
                <div class="connexion-separator">
                    <div id="connexion-separator-border"></div>
                    <div>ou</div>
                    <div id="connexion-separator-border"></div>
                </div>
                <form action="post">
                    <div> 
                        <input type="text" id="email" placeholder="Email">
                    </div>
                    <div> 
                        <input type="text" id="password" placeholder="Mot de passe">
                    </div>
                    <div class="connexion-form-ctas">
                        <div class="button-master" id="connexion-cta-btn">Go !</div>
                        <div id="connexion-cta-forgot"><a href="" id="disabled-link">J'ai zappé mon mot de passe.</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="connexion-image">
       
    </div>
</div>
