<div class="container-deal col">

  <div>
    <p>< retour</p>
  </div>

  <div class="md-show-card">
    <img class="md-show-album" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('https://img.discogs.com/ktzQ3S3fCH0JdARDarptt0Ir55Y=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4570366-1539295092-6087.png.jpg')">
    <div class="md-show-requester-img">
      <span>Nfilzi vous propose</span>
      <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80">
    </div>
    <div class="md-show-album-infos">
      <h3> Random Access Memory </h3>
      <p> Daft Punk </p>
      <span> 2018 - Electronic</span>
    </div>
  </div>

  <div class="md-show-card-proposed">
    <img class="md-show-album" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('https://img.discogs.com/Yzw6YXtFQNw6ijV8Sj10eHSPIKA=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-367084-1263095553.jpeg.jpg')">
    <div class="md-show-album-infos">
      <p>En échange de :</p>
      <h5>Nevermind</h5>
      <p>Nirvana</p>
    </div>
  </div>

  <div>
    <div class="button-master md-show-accept">
      Accepter l'échange
    </div>
    <div class="button-secondary md-show-decline">
      Nope !
    </div>
  </div>


</div>
