<div class="container-deal col">

  <div class="vd-header">
    <p>< retour</p>
    <h2>Deal Annulé</h2>
    <i class="far fa-question-circle fa-lg dropdown"></i> 
  </div>

  <div class="md-show-card">
    <img class="md-show-album" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('https://img.discogs.com/Yzw6YXtFQNw6ijV8Sj10eHSPIKA=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-367084-1263095553.jpeg.jpg')">
    <div class="md-show-requester-img">
      <span>SRM44</span>
      <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80">
    </div>
    <div class="md-show-album-infos">
      <h3> Nevermind </h3>
      <p> Nirvana </p>
      <span> 1994 - Rock</span>
    </div>
  </div>

  <div class="md-show-card-proposed">
    <img class="md-show-album" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('https://img.discogs.com/ktzQ3S3fCH0JdARDarptt0Ir55Y=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4570366-1539295092-6087.png.jpg')">
    <div class="md-show-album-infos">
      <p>En échange de :</p>
      <h5>Random Acces Memory</h5>
      <p>Daft Punk</p>
    </div>
  </div>

</div>

