<div class="md-show-actions-btn d-flex flex-column">
  <%= deal.requester.username.capitalize %> a confirmé que l'échange a bien eu lieu le <%= deal.confirmed_by_requester_at %>
  À vous de confirmer aussi !

  <%= link_to "Confirmer", confirm_deal_path(deal), method: :patch, class: "button-master" %>
</div>
