.button-master {
    max-width: 300px;
    margin: 1em 0 1em 0;
    padding: $piled-btn-padding;
    height: $btn-height;
    border-radius: $btn-border-radius;
    background: $yellow;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    background: $yellow-300;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $yellow-900;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.button-master a {
    text-decoration: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.button-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: $btn-border-radius;
    height: $btn-height;
    color: #2C5448;
    font-weight: 600;
    line-height: 15px;
    background: rgba(0, 0, 0, 0.06);
    font-family: $btn-font-family;
    font-size: $btn-font-size;
}

.button-master-nemesis {
    max-width: 300px;
    margin: 1em 0 1em 0;
    padding: $piled-btn-padding;
    height: $btn-height;
    border-radius: $btn-border-radius;
    background: $yellow;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    background: $yellow-400;
    color: $yellow-900;
    box-shadow: $the-shadows;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.button-master-nemesis img {
    height: 65%;
    margin-left: 8%;
}

.button-master-nemesis p {
    margin: 0px;
    margin-right: 8%;
}

.button-white-transparency {
    width: 100%;
    max-width: 500px;
    border-radius: 25px;
    display: flex;
    background: none;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background: none;
    border-radius: $btn-border-radius;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    line-height: 15px;
    font-family: $btn-font-family;
    font-size: 100%;
    transition: all 0.3s ease-in-out;
    i {
        font-size: 200px;
    }
}

.button-decline {
    font-size: 500%;
    color: $red;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-accept {
    font-size: 500%;
    color: $yellow;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-synchroniser {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.sync-button-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-lined-btn {
    border: 2px solid $tech-house-gray-7;
    border-radius: $lined-btn-radius;
    height: $btn-height;
    color: $tech-house-gray-7;
    padding: $lined-btn-padding;
    background-color: transparent;
}

.vinyl-card-details-index-button {
    height: 15%;
    text-decoration: none;
    color: #F3F3F3;
    font-size: 20px;
    cursor: pointer;
  
    a {
      color:$grey-300;
    }

    a:hover {
    color: white;
    text-decoration: none;
    }
  
    i {
      position: relative;
      height: 15%;
      text-decoration: none;
      color: #A9A9A9;
      font-size: 150%;
      cursor: pointer;
    }
  
    i:hover {
      color: white;
      font-weight: 800;
    }
  
  }