#white-btn-master {
    background-color: white;
    align-self: center;
    a {
        color: $rich-black;
    }
}

#black-back-arrow {
    margin-bottom: 1em;
    i {
        color: $rich-black;
    }
}

.button-master {
    max-width: 300px;
    min-width: 300px;
    margin: 1em 0 1em 0;
    padding: $piled-btn-padding;
    min-height: $btn-height;
    border-radius: $btn-border-radius;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    background: $rich-black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    }
}

.proposition-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: auto auto;
    padding: 1em;
    text-decoration: none;
    cursor: pointer;
    background-color: $grey-200;
    box-shadow: 0 -2px 0 hsla(0,0%, 100%, .60);
    box-shadow: inset 0 2px 2px hsla(0,0%,0%,.2);
    border-radius: 2px;

    i  {
        font-size: 40px;
    }

    div {
        text-align: center;
        padding-top: 1em;
    }

}

.button-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: $btn-border-radius;
    height: $btn-height;
    color: #2C5448;
    font-weight: 600;
    line-height: 15px;
    background: rgba(0, 0, 0, 0.06);
    font-family: $btn-font-family;
    font-size: $btn-font-size;
}


.button-synchroniser {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.sync-button-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-lined-btn {
    margin: 1em 0 1em 0;
    padding: $piled-btn-padding;
    height: $btn-height;
    border-radius: $btn-border-radius;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border: 2px solid $tech-house-gray-7;
    border-radius: $lined-btn-radius;
    color: $tech-house-gray-7;
    background-color: transparent;
}

.vinyl-card-details-index-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #F3F3F3;
    font-size: 20px;
    cursor: pointer;

    a {
      color:$grey-300;
    }

    a:hover {
    color: white;
    text-decoration: none;
    }

    i {
      position: relative;
      text-decoration: none;
      color: white;
      font-size: 150%;
      cursor: pointer;

    }


  }

  .myrecords-discog-sync-btn {
    display: flex;
    align-items: center;
    width: 15em;
    text-decoration: none;
    color: black;
    border: solid black 1px;
    border-radius: 1em;

    i  {
        margin: 0 0.5em;
    }
}
