.vinyl-card {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  margin-top: 0px;
}

.vinyl-card .vinyl-card-details {
  width: 100%;
  height: 55%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display:flex;
}

.vinyl-card-details .vinyl-card-details-infos {
  position: relative;
  height: 90%;
  margin-top: 10%;
  margin-left: 10%;
  width: 90%;
}

.vinyl-card-details-infos .vinyl-card-details-index-button a {
  position: relative;
  height: 15%;
  text-decoration: none;
  color: #F3F3F3;
  font-size: 20px;
  cursor: pointer;
}

.vinyl-card-details-index-button a:hover {
  color: white;
  font-weight: 800;
}

.vinyl-card-details-infos .vinyl-card-details-infos-release {
  position:absolute;
  bottom: 5%;
  margin-top: auto;
  display:flex;
  align-items: flex-end;
}

.vinyl-card-details-infos-release h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 6px;
  text-align: left;
}

.vinyl-card-details-infos-release p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin: 0px;
  margin-bottom: 6px;
  text-align: left;
}

.vinyl-card-details-infos-release span {
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  text-align: left;
}

.vinyl-card-details-infos-record {
  margin-bottom: 15px;
}

.vinyl-card-details-infos-record p {
  font-size: 13px;
  font-weight: 300;
  margin: 0px;
  margin-top: 10px;
  text-align: left;
}

.vinyl-card-more {
  height: 45%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: inset 0 0 10px #000000;
}

.vinyl-card-tracklist {
  position:relative;
  height:100%;
  width: 100%;
  display:flex;
  overflow: scroll;

  p {
    color: white;
    margin: 70px auto;
  }
}

.vinyl-card-tracklist ul {
  width: 90%;
}

.vinyl-card-tracklist li {
  font-size: 16px;
  color: white;
  list-style-type: none;
  margin-top:15px;
}

.vinyl-card-tracklist-blur {
  position: absolute;
  background-color: black;
  height: 12vh;
  width: 100vw;
  bottom: 0px;
  filter: blur(20px);
}

#vinyl-card-proposition-button {
  position: absolute;
  bottom: 7%;
}

.records-undisplay {
  display: none;
}

.vinyl-card-input-button {
  position: absolute;
  bottom: 2%;
}

.vinyl-card-collection {
  background-color: rgba(0,0,0,0.9);
  padding-top: 2vh;
  height: 100vh;
  align-items: center;
  overflow: scroll;
}
