/* TO DELETE WHEN APP UPDATE IS DONE */




.vinyl-card-add-button {
  z-index: 200;
}

.vinyl-card-add-button i {
  font-size: 100%;
  margin-right: 35px;
}

.vinyl-card-input-button {
  position: absolute;
  bottom: 14%;
}

.vinyl-card-collection {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 1000;
  height: 100vh;
  align-items: center;
  overflow: scroll;
}

