hr.divider {
    overflow: visible;
    padding: 0;
    margin: 3.5em 0 3.5em 0;
    border: none;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: medium;
    border-top: 1px solid #e0e0e0;
    color: #6e6d7a;
    text-align: center;
}

hr.divider::after {
    content: 'Ou';
    display: inline-block;
    position: relative;
    top: -14px;
    font: normal 14px/14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 16px;
    background: #fff;
}
