.main-container-md {
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  background: linear-gradient(180deg, #44554F 11.72%, #121013 92.81%);
  padding-top: 0;
}

.my-deals-submenu {
  padding-top: 15px;
  width: 100wv;
  padding-bottom: 10px;
  padding-left: 20px;
  color: $gray;
  border: none;

  #pending-tab {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 27px;
    color: $gray;
    padding-left: 0;
    &.active {
      color: white;
    }
  }

  #validated-tab {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 27px;
    color: $gray;

    &.active {
      color: white;
    }
  }
}

.my-deals-container {
  width: 100%;
  height: 100%;
  padding-left: 20px;

  h3 {
    color: white;
    font-weight: 600;
    font-size: 22px;
    margin-top: 40px;
  }
}

.mydeals-received-grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 100%;
  margin-top: 50px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.deals-card {
  display: flex;
  flex-direction: column;
  margin: 5px;
  transition: .3s cubic-bezier(.5, 0, .1, 1) transform;
}

.md-received-album {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 300px;
  height: 300px;
  float: left;
  color: white;
  border-radius: 4px;
  padding-bottom: 30px;
  cursor: pointer;

  .md-container-requested-album {
    display: flex;
  }

  .md-received-album-infos {
    padding-left:20px;
    line-height: 0.5;
  }

  #md-release-requested {
    width: 90px;
    display: flex;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
}


#md-requester-profil {
  display: flex;
  align-items: center;
  padding-top:15px;
  margin-bottom: 170px;

  #md-requester-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px 5px;
  }

  p {
    margin-bottom: 0;
  }
}

#md-release-infos {
  p {
    color: rgba(255, 255, 255, 0.80);
  }
}

.md-release-infos-received {
  align-content: flex-end;
}


.md-requested-album-infos {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  div {
    color: white;
    float: right;
    padding-right: 15px;
  }
}

.md-requester-infos {
  display: flex;
  align-items: center;

  p {
    padding-left: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
