
.mobile-bottom-nav {
	display:flex;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	margin-top: 1em;
	height: 4em;
	z-index:5000;
	will-change:transform;
	transform: translateZ(0);
	box-shadow: 0 -2px 5px -2px #333;
	background-color: $rich-black;
	
	&__item{
		flex-grow:1;
		text-align:center;
		font-size:1em;
		display:flex;
		align-items: center;
		justify-content: center;
	}

	&__item-content{ 
		display:flex;
		align-items: center;
	}

	i {
		font-size: 1.5em;
		color: white;
	}

	#nav-label {
		display: none;
		color: white;
		font-size: $small-text;
	}

	#nav-logo {
		display: none;
	}
}

.nav {
	justify-content: center;
}

.my-deals-submenu {
    padding-bottom: 10px;
    color: $gray;
	background-color: white;
	
    border: none;

    ul {
        white-space: nowrap;
    }
    li {
        display: flex;
    }
    #deals-tab {
        background: none;
        border: none;
        font-weight: 600;
        font-size: 1, 5em;
        color: $gray;
        padding-left: 0;
        &.active {
            color: blue;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .mobile-bottom-nav {
	height: 60px;
	margin-top: 0;
	top: 0;
	z-index: 5000;
	background-color: $rich-black;
	
	i {
		display: none;
	}

	#nav-logo {
		display: inline-flex;

		img {
			width: 100%;
			height: auto;
			max-width: 150px;
		}
	}
	
	&__item {
		padding-left: 2em;
		height: 60px;
		justify-content: flex-start;
		flex-grow: 0;
		text-decoration: none;
	}
	
	#nav-label {
		display: inline;
		text-decoration: none;
		margin-left: 1em;
		color: white;
	}
	
	#nav-label:hover {
    	transition: 0.2s ease;
		color: #979494;
	}


		.nav {
			justify-content: flex-start;
		}
	}
}