.mobile-bottom-nav{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:5000;
	margin-top: 1em;
	
	will-change:transform;
	transform: translateZ(0);
	
	display:flex;	
	
	height:50px;
	
	box-shadow: 0 -2px 5px -2px #333;
	background-color: $rich-black;
	
	&__item{
		flex-grow:1;
		text-align:center;
		font-size:12px;
		
		display:flex;
		align-items: center;
		justify-content: center;

	}
	&__item--active{
		//dev
		color:red;
	}
	&__item-content{ 
		display:flex;
		flex-direction:column;		
	}

	i {
		font-size: 1.5em;
		color: white;
	}

	#nav-label {
		display: none;
		color: $grey-600;
		font-size: $small-text;
		font-weight: $emphase600;
	}
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .mobile-bottom-nav {
	position:fixed;
	width: 15%;
	height: 100vh;
	left:0;
	flex-direction: column;
	box-shadow: none;

	&__item {
		padding-left: 2em;
		height: 50px;
		justify-content: flex-start;
		flex-grow: 0;
		
	}

	#nav-label {
		display: inline;
		margin-left: 1em;
	}
  }
}