.navbar .fixed-bottom .navbar-expand-sm .nav-link a { 
  color: $rich-black;
  text-decoration: none;
}


.item {
  font-size: 24px;
}


.nav-header .logo {
  width: 20%;
}

.nav-header nav {
  width: 100vw;
  height:60px;
}

header {
  position: relative;
  background-color: transparent;
}

.nav-header {
  border-radius: 5px;
  padding-top: 5px;
  position: relative;
  z-index: 999;
}

.logo {
  padding-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo img {
  height: 30%;
}



header,
nav {
  font-size: 0;
}

.logo
.item,
.middle {
  display: flex;
  align-items: center;
}

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll a {
  height: 100%;
}

.scroll::-webkit-scrollbar {
  display: none;
}

@media (max-width: 765px) {
  .item {
    font-size: 17px;
  }
}

