  .records-cards {

  }
  
  .records-index-card {
    height: 18em;
    width: 18em;
    padding: 1em;
    margin: 0.5em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    cursor: pointer;

    h3 {
      color: white;
      font-size: 2em;
      text-overflow: ellipsis;
      overflow: hidden; 
      white-space: nowrap;
    }
    
    p:first-child {
      font-size: $micro-text;
      margin-bottom: 1em;
    }
    .records-index-infos div:last-child {
      background-color: $grey-200;
    }

    p:last-child {
      font-size: $micro-text;
      justify-self: flex-end;
    }
  }
  
  .records-undisplay {
    display: none;
  }
  
  .discover-vinyl-card {
    position: fixed;
    top:0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, .95);
    z-index: 100;
  }