.records-search-bar {
    display: flex;
    margin: 2em 0 2em 0;
    max-width: 600px;
    

    input, select {
      flex: 1 1 auto;
    }

    input {
      outline: 0;
      border-width: 0 0 0.5px;
      border-radius: 0.5em;
      height: 48px;
      background-color: #ffffff;
      box-shadow: $medium;
    }

    input:focus {
        border-color: $deep-green-3
    }
}

.records-filters-wrapper {
    display: flex;
    margin: 1em 0 1em 0;

    select {
        border-radius: 0.5em;
        height: 48px;
        border: solid $rich-black 3px;
        margin: 0 0.5em 0 0.5em;
        padding: 0.5em;
        color: $grey-200;
        background-color: $rich-black;
    
        i {
            color: $rich-black;
        }
    }

    button {
        border: none;
        text-decoration: none;
        background-color: transparent;
        margin-left: 1em;
    }
}



.filter-label {
    color: white;
    border-radius: 0.5em;
    background-color: $rich-black;
    margin: 0 0.5em 0 0.5em;
    padding: 0.5em;
}
