// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Shame
.hidden-button{
  display: none;
}

.mobile-bottom-nav__item-content {
  img, i {
    margin-right: 0.5em;
  }

  img {
    margin-right: 0.5em;
    width:  2em;
    height: 2em;
  }
  i {
    margin-right: 0.7em;
    width:  1em;
    height: 1em;
  }
}
