<p>Bonjour <%= @resource.first_name %>!</p>

<p>Tu peux confirmer ton compte sur Diggerz en cliquant sur le lien ci-dessous:</p>
<p><%= link_to 'Je confirme mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
