<div class="app-container">
  <div class="myrecords-wrapper">
    <div id="myrecords-header">
      <h1>Modifier les informations de mon disque</h1>
    </div>
    <div class="add-record_form">
     <%= render "form", release: @release, record: @record %>
    </div>
  </div>
</div>
