<% if params[:just_registered].present?  %>
  <%= link_to 'Passer cette étape', root_path %>
<% end %>

<div class="mydeals-container records-wrapper"> 
  <h1 id="mydeals-header">Nouveau disque !</h1>
  <div class="mydeals-content-wrapper">
    <div id="myrecords-header">
    </div>
    <div class="add-record_form">
     <%= render "form", release: @release %>
    </div>
  </div>
</div>
