<% if params[:just_registered].present?  %>
  <%= link_to 'Passer cette étape', root_path %>
<% end %>

<div class="app-container"> 
  <div class="myrecords-wrapper">
    <div id="myrecords-header">
      <h1>Nouveau disque !</h1>
    </div>
    <div class="add-record_form">
     <%= render "form", release: @release %>
    </div>
  </div>
</div>
