<% if params[:just_registered].present?  %>
  <%= link_to 'Passer cette étape', root_path %>
<% end %>

<div class="records-index-container"> 
  <h1>Chouette ! Un nouveau disque !</h1>
  <%= render "form", release: @release %>
</div>
