<div class="vd-confirmation-msg">
  <p>Contacte <strong><%= user.username.capitalize %></strong> pour organiser un RDV afin d'échanger vos disques ! <br><br>N'oublies pas de clôturer l'échange quand c'est fait.</p>
</div>
